.head {
    color: #007bff;
    margin-top: 30px;
    margin-bottom: 20px;
}

.loginText {
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
}

.successMessage {
    color: green;
    font-weight: bold;
}